<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menu</title>
</head>
<body>
    {% if menus %}
        <h1>Your favourite menus</h1>
        <ul>
            {% for menu in menus %}
                <li><a href="/menu/{{ menu.id }}"><b>{{ menu.name }}</b> {{ menu.created_at }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>No favourite menus added</h1>
    {% endif %}
</body>
</html>